$Azul: #6b97cf
$Oscuro: #21334B

.banner
    height: 200px
    background-color: $Azul

.texto-banner
    color: $Oscuro
    padding: 0.5
    font-family: 'Lobster', cursive
    font-size: 3rem
    vertical-align: middle

.navbar
    background-color: $Oscuro

.nombre
    font-weight: bold

.sidebar
    margin-left: 12px

footer
    background-color: $Oscuro

.icono
    color: white