$Azul: #3C8FFF
    
.banner
    height: 350px
    background: $Azul
    align-items: center

.img-banner
    object-fit: cover
    opacity: 0.5
    z-index: 0

.texto-banner
    color: white
    padding: 0.5
    max-width: 350
    z-index: 1
    height: 4em